$color-grey-darker: #999;
$color-grey: #e5e5e5;
$color-grey-light: #fafafa;
$color-white: #fff;
$color-dark: #303030;
$color-red: #e33;
$color-red-darker:  #cc1e1f;
$color-blue-light: #748BA7;
$color-blue: #1f6694;
$color-blue-1:#55acee;
$color-blue-2:  #0077b5;
$color-blue-3:  #4862a3;
$color-blue-4: #0D3B66;
$beige: #FAF0CA; 