.search-form {
  display: flex;
  justify-content: flex-end;
  margin: 0;

  @include respond(under900) {
    order: 1;
  }

  @include respond(under500) {
    width: 100%;
    justify-content: center;
  }

  &__form-row {
    display: flex;
    align-items: center;
  }

  &__input {
    height: 43px;
    width: 30rem;
    margin-right: 0.3rem;
    @media screen\0 {
      height: 35px;
      width: 28rem;
    }

    @include respond(under900) {
      width: initial;
    }

    @include respond(under500) {
      height: 37px;
    }
  }

  &__button-wrap {
    position: relative;
    &:before {
      position: absolute;
      right: 4px;
      top: 2px;
      font-size: 35px;
      color: $color-white;
      font-family: "Genericons";
      content: "\f400";

      @include respond(under500) {
        right: 3px;
        top: 1px;
        font-size: 31px;
       
      }
    }
  }

  &__button {
    padding: 10px 20px;

    @include respond(under500) {
      padding: 8px 18px;
    }
  }
}
